// Typography
$default-font-size: 16;

//colors
$button-blue: #3094d1;
$white: white;
$gray: #dddddd;
$dark-gray: #bbbbbb;
$black-gray: #202527;
$light-green: #90bf3b;
$medium-gray: #a9aaab;
$dark-dark-gry: #3e464a;
